/* Estilos existentes */
.with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.with-icon input {
  padding-left: 36px; /* dá espaço para o ícone */
}

/* Novos estilos para o modal e botão <-- */
.forgot-password-modal {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.close-button .material-symbols-outlined{
  position: absolute;
  top: 10px;
  right: 310px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 500;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: #fafafa;
}

.close-button .material-symbols-outlined {
  font-size: 30px;
  color: #ffffff;
  line-height: 1;
}

.close-button .material-symbols-outlined:hover{
  color: #1687C6;
}