
.with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.with-icon input {
  padding-left: 36px; /* dá espaço para o ícone */
}
